body {
    background-image: radial-gradient(circle, yellow, blue, black);
    color: white;
}

#quest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

#quest-title {
    text-align: center;
}

header {
    display: flex;
    justify-content: flex-end;
}

#quest-image {
    width: 530px;
    height: 250px;
    align-self: center;
}


.hidden {
    display: none;
}

button {
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    display: block;
    align-self: center;
}
